<footer>
    <div class="f-info">
      <div class="f-social-links">
       <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a> 
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
       <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a> 
      </div>
      <div class="f-company">© 2023 Airbnb, Inc.</div>
      <div class="f-links">
        <a href="">Privacy</a>
        <a href="">Terms</a>
        <a href="">Sitemap</a>
        <a href="">Company details</a>
      </div>
    </div>
</footer>